#grid_container {
	overflow: auto;
	width: 960px;
	margin: auto;
}
h1{
	text-align:center;
	font-family: arial, sans-serif;
}
#button_container{
	margin: 30px auto;
	text-align:center;
}
#load_button_container{
	margin: 30px auto;
	text-align:center;
}
.bg_reset{
	backgroudn-color: white;
}
.grid_square {
	background-color: white;

}
.grid_border{
	margin: 5px;
	border: 1px solid black;
	float:left;
}
.grid_square_lit {
	background-color: red;
}