#grid_container {
	overflow: auto;
	width: 960px;
	margin: auto;
}
#button_container{
	height: 20px;
	width: 80px;
	margin: 30px auto;


	text-align:center;
}

.grid_square {
	background-color: black;
	float: left;
	border: 1px solid white;
}

.grid_square_lit {
	background-color: red;
}